html {
  scroll-behavior: smooth;
  background-color: black;
}
* {
  box-sizing: border-box;
}
body {
  display: block;
}
#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  /* width: 175vh; */
}
#logo img {
  /* margin-left: auto;
  margin-right: auto;
  margin: 56px 0 0; */
  background-repeat: no-repeat;
  bottom: var(--logo-margin-bottom);
  height: 92px;
  left: calc(50% - 272px / 2);
  position: absolute;
  width: 272px;
}
#fakebox-input {
  margin-top: 25vh;
  width: 60vh;
  height: 6vh;
  border-radius: 25px;
}
.search-image {
  margin-top: 25vh;
  border-radius: 25px;
  background-color: white;
  height: 1vh;
  width: 1vh;
}
#animation {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  left: calc(50% + 148px);
  padding: 0;
  position: absolute;
  top: 100px;
  width: 24px;
}
