html {
  scroll-behavior: smooth;
  /* background-color: white; */
}
* {
  box-sizing: border-box;
}
body {
  display: block;
}
#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  /* width: 175vh; */
}
#google {
  /* margin-left: auto;
  margin-right: auto;
  margin: 56px 0 0; */
  height: 92px;
  /* left: calc(50% - 272px / 2); */
  position: absolute;
  width: 275px;
}
#search {
  margin-top: 25vh;
}
#fakebox-input {
  width: 60vh;
  height: 6vh;
  border-radius: 25px;
  padding-left: 30px;
}
.search-image {
  /* margin-top: 25vh;
  border-radius: 25px;
  background-color: white; */
  height: 2px;
  width: 2px;
}
#search-image1 {
  margin-left: 1vh;
  height: 30px;
  width: 30px;
}
#search-image2 {
  margin-right: 6vh;
}
.container {
  width: 5px;
  height: 5px;
  margin-left: 100px;
}
#animation {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  left: calc(50% + 148px);
  padding: 0;
  position: absolute;
  top: 100px;
  width: 24px;
}
