html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  display: block;
  font-family: "Roboto", sans-serif;
}
#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 17vh; */
}
#google {
  height: 92px;
  position: absolute;
  width: 275px;
}
#search {
  margin: 0 auto 0 auto;
  min-width: 410px;
  width: var(--content-width);
  margin-top: 32vh;
  display: flex;
  align-items: center;
  border: 1px black solid;
  border-radius: 25px;
}
#fakebox-input {
  padding-left: 20px;
  width: 60vh;
  height: 5vh;
  padding-right: 30px;
  border: 0;
}
.search-image {
  left: 0;
  top: 0;
  height: 2px;
  width: 2px;
}
#search-image1 {
  left: 56vh;
  height: 5vh;
  width: 18px;
  margin-left: 2px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-left: 1vh;
}
#search-image2 {
  left: 62vh;
  height: 5vh;
  width: 20px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-right: 1vh;
}
.container {
  width: 5px;
  height: 5px;
  margin-left: 100px;
}
#buttons {
  margin-top: 4vh;
}
.button {
  background-color: lightgray; /* Green */
  border: none;
  color: white;
  padding: 9px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}
#nav {
  list-style: none;
}
#nav li {
  display: inline-block;
  padding: 0 20px;
}
#nav li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: black;
}
#nav li a:hover {
  color: #0088a9;
}
#signIn {
  padding: 5px;
  background-color: rgb(78, 123, 219);
  color: white;
  border: rgb(78, 123, 219);
}
#menu {
  margin-bottom: -8px;
}
.country {
  margin-left: 76vh;
}
#location {
  background-color: lightgray;
  padding: 20px;
  border: 1px darkgray solid;
  padding-left: 70px;
}
#footer-navigation {
  background-color: lightgray;
  padding: 6px;
  list-style: none;
}
#footer-navigation li {
  display: inline-block;
  padding: 0 20px;
}
#footer-navigation li {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: black;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
